@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


@using Licenses_Generator_DBFirst.DatabaseSpecific;
@using Licenses_Generator_DBFirst.Linq;

<div class="text-center">
    @using (var adapter = new DataAccessAdapter())
    {
        var metaData = new LinqMetaData(adapter);
        var count = metaData.Governorate.Count();
        <h4> Egypt's Governorate = @count</h4>
    }
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>
